<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      @if (sortColumn === 'name') {
      @if (sortDirection === 'asc') {
      <th>
        <button (click)="sortUnits('name')">
          Name &#9650;
        </button>
      </th>
      }
      @if (sortDirection === 'desc') {
      <th>
        <button (click)="sortUnits('name')">
          Name &#9660;
        </button>
      </th>
      }
      } @else {
      <th>
        <button (click)="sortUnits('name')">Name</button>
      </th>
      }
      @if (sortColumn === 'casNumber') {
      @if (sortDirection === 'asc') {
      <th>
        <button (click)="sortUnits('casNumber')">
          CAS Number &#9650;
        </button>
      </th>
      }
      @if (sortDirection === 'desc') {
      <th>
        <button (click)="sortUnits('casNumber')">
          CAS Number &#9660;
        </button>
      </th>
      }
      } @else {
      <th>
        <button (click)="sortUnits('casNumber')">CAS Number</button>
      </th>
      }
      @if (sortColumn === 'amount') {
      @if (sortDirection === 'asc') {
      <th>
        <button (click)="sortUnits('amount')">
          Amount &#9650;
        </button>
      </th>
      }
      @if (sortDirection === 'desc') {
      <th>
        <button (click)="sortUnits('amount')">
          Amount &#9660;
        </button>
      </th>
      }
      } @else {
      <th>
        <button (click)="sortUnits('amount')">Amount</button>
      </th>
      }
      @if (sortColumn === 'location') {
      @if (sortDirection === 'asc') {
      <th>
        <button (click)="sortUnits('location')">
          Location &#9650;
        </button>
      </th>
      }
      @if (sortDirection === 'desc') {
      <th>
        <button (click)="sortUnits('location')">
          Location &#9660;
        </button>
      </th>
      }
      } @else {
      <th>
        <button (click)="sortUnits('location')">Location</button>
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (unit of units; track unit.id) {
    <tr>
      <td>{{ unit.name }}</td>
      <td>{{ unit.casNumber }}</td>
      <td>{{ unit.amount }}</td>
      <td>{{ unit.location }}</td>
    </tr>
    }
  </tbody>
</table>
