<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>
        <input type="text" [(ngModel)]="searchName" placeholder="Search by name" />
      </th>
      <th>
        <input type="text" [(ngModel)]="searchCas" placeholder="Search by CAS-number" />
      </th>
      <th>
        <input type="number" [(ngModel)]="searchAmount" placeholder="Maximum amount" />
      </th>
      <th>
        <input type="text" [(ngModel)]="searchLocation" placeholder="Search by location" />
      </th>
      <th>
        <button (click)="applyFilters()">Search</button>
        <button (click)="clearFilters()">Reset</button>
      </th>
    </tr>
    <tr>
      <th>
        <button (click)="sortUnits('name')">
          Name {{ sortColumn === 'name' ? (sortDirection === 'asc' ? '▲' : '▼') : '' }}
        </button>
      </th>
      <th>
        <button (click)="sortUnits('casNumber')">
          CAS Number {{ sortColumn === 'casNumber' ? (sortDirection === 'asc' ? '▲' : '▼') : '' }}
        </button>
      </th>
      <th>
        <button (click)="sortUnits('amount')">
          Amount {{ sortColumn === 'amount' ? (sortDirection === 'asc' ? '▲' : '▼') : '' }}
        </button>
      </th>
      <th>
        <button (click)="sortUnits('location')">
          Location {{ sortColumn === 'location' ? (sortDirection === 'asc' ? '▲' : '▼') : '' }}
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (unit of currentUnits; track unit.id) {
    <tr>
      <td>{{ unit.name }}</td>
      <td>{{ unit.casNumber }}</td>
      <td>{{ unit.amount }}</td>
      <td>{{ unit.location }}</td>
    </tr>
    }
  </tbody>
</table>
<div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous Page</button>
  @for (page of pages; track page.pageNumber) {
  <button (click)="goToPage(page.pageNumber)" [disabled]="page.pageNumber === currentPage">{{ page.pageNumber }}</button>
  }
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next Page</button>
</div>
<h2>{{ message }} + {{ searchName }} + {{ searchCas }} + {{ searchAmount }} + {{ searchLocation }}</h2>
